<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.RP4Bridge"
            android:value="com.neontouge.rp4bridge.RP4Bridge" />
    </application>
</manifest>
